<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>matt@home</title>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<div id="boot">
  <div class="boot-inner"></div>
</div>

<div class="wrapper">

  {{ partial "sidebar.html" . }}

  <main class="main">
    {{ partial "header.html" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}
  </main>

</div>

<script src="/js/script.js"></script>
</body>
</html>
